@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Source Han Sans C', 'Source Han Sans K', 'Noto Sans CJK KR', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans',
    'Noto Sans CJK JP', 'Source Han Sans TC', 'Noto Sans CJK TC', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Jomolhari', 'HanaMin',
    'CharisSILW', sans-serif;
  /* TODO: confirm font name */
  font-language-override: 'KOR';
}

.fanqie-process-area h3 {
  margin: 1rem 0;
}

.fanqie-process-area p {
  margin: 0;
}

.fanqie-process-area img {
  margin: 0.5rem 0;
}

.fanqie-bg-black-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Source Han Serif C', 'Source Han Serif K', 'Noto Serif CJK KR', 'Source Han Serif SC', 'Noto Serif CJK SC',
    'Source Han Serif', 'Noto Serif CJK JP', 'Source Han Serif TC', 'Noto Serif CJK TC', 'Noto Serif KR', 'Noto Serif SC', 'Noto Serif TC',
    'Jomolhari', 'HanaMin', 'CharisSILW', serif;
  font-language-override: 'KOR';
}

:lang(zh-Latn-fonipa) {
  font-family: 'CharisSILW', serif;
  font-language-override: 'KOR';
}

a {
  @apply underline decoration-1 underline-offset-4 decoration-gray-400/50 hover:decoration-blue-500/80 transition;
}

.fanqie-div {
  @apply gap-y-6;
}

.fanqie-input-box {
  @apply w-24 h-24 bg-gray-800 border-2 border-gray-600 rounded-lg text-center text-white text-4xl focus:border-blue-500 focus:outline-none;
}

.fanqie-result-box {
  @apply w-36 h-24 bg-gray-800 border-2 border-gray-600 rounded-lg text-center text-white text-4xl focus:border-blue-500 focus:outline-none flex items-center justify-center;
}

.fanqie-math-symbol {
  @apply px-4 text-3xl text-gray-400;
}

.fanqie-select-box {
  @apply mt-4 w-60;
}

.fanqie-select-btn {
  @apply w-full px-4 py-3 text-left hover:bg-gray-700 transition-colors;
}

.fanqie-select-btn-title {
  @apply text-base text-blue-300 mb-1;
}

.fanqie-select-btn-text {
  @apply text-sm text-gray-300;
}

@media screen and (max-width: 600px) {
  .fanqie-div {
    @apply gap-y-4;
  }

  .fanqie-input-box {
    @apply w-16 h-16 text-2xl;
  }

  .fanqie-result-box {
    @apply w-24 h-16 text-2xl;
  }

  .fanqie-math-symbol {
    @apply text-2xl;
  }

  .fanqie-select-box {
    @apply mt-3 w-36;
  }

  .fanqie-select-btn {
    @apply px-3 py-2;
  }

  .fanqie-select-btn-title {
    @apply text-sm;
  }

  .fanqie-select-btn-text {
    @apply text-xs;
  }
}
